{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "indent": ["error", 2],
        "comma-dangle": ["error", "never"],
        "semi": ["error", "never"],
        "import/no-extraneous-dependencies": ["error", {}],
        "react/prefer-stateless-function": 0,
        "react/self-closing-comp": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
